
{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "PTC.ProdMgmt",
    "description" : "PTC Product Management Domain",
    "version" : "7"
  },
  "servers" : [ {
    "url" : "http://plm.revy.com/Windchill/servlet/odata/v7/ProdMgmt"
  } ],
  "tags" : [ {
    "name" : "Service Endpoints"
  } ],
  "paths" : {
    "" : { }, 
    "/CheckInParts" : {
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Execute CheckInParts",
        "description" : "Execute CheckInParts",
        "operationId" : "Action_CheckInParts",
        "parameters" : [ {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PTC.ProdMgmt.CheckInParts.Unbound.Body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/PTC.ProdMgmt.Part"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CheckOutParts" : {
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Execute CheckOutParts",
        "description" : "Execute CheckOutParts",
        "operationId" : "Action_CheckOutParts",
        "parameters" : [ {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PTC.ProdMgmt.CheckOutParts.Unbound.Body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/PTC.ProdMgmt.Part"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CreateAssociations" : {
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Create Single or Multiple Associations between Parts and CAD documents.",
        "description" : "Create Single or Multiple Associations between Parts and CAD documents.",
        "operationId" : "Action_CreateAssociations",
        "parameters" : [ {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PTC.ProdMgmt.CreateAssociations.Unbound.Body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/PTC.CADDocumentMgmt.PartDocAssociation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CreateParts" : {
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Execute CreateParts",
        "description" : "Execute CreateParts",
        "operationId" : "Action_CreateParts",
        "parameters" : [ {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PTC.ProdMgmt.CreateParts.Unbound.Body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/PTC.ProdMgmt.Part"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DeleteAssociations" : {
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Delete Single or Multiple Associations between Parts and CAD documents.",
        "description" : "Delete Single or Multiple Associations between Parts and CAD documents.",
        "operationId" : "Action_DeleteAssociations",
        "parameters" : [ {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PTC.ProdMgmt.DeleteAssociations.Unbound.Body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/DeleteParts" : {
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Execute DeleteParts",
        "description" : "Execute DeleteParts",
        "operationId" : "Action_DeleteParts",
        "parameters" : [ {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PTC.ProdMgmt.DeleteParts.Unbound.Body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/EditPartsSecurityLabels" : {
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Execute EditPartsSecurityLabels",
        "description" : "Execute EditPartsSecurityLabels",
        "operationId" : "Action_EditPartsSecurityLabels",
        "parameters" : [ {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PTC.ProdMgmt.EditPartsSecurityLabels.Unbound.Body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/PTC.ProdMgmt.Part"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Parts",
        "description" : "Get Parts",
        "operationId" : "GetParts",
        "parameters" : [ {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "Parts",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.ProdMgmt.Part"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Create Part",
        "description" : "Create Part",
        "operationId" : "PostPart",
        "parameters" : [ {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Create.PTC.ProdMgmt.Part"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Create.PTC.ProdMgmt.Part"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Part for a given PartId",
        "description" : "Get Part for a given PartId",
        "operationId" : "GetPart",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "$ref" : "#/components/schemas/PTC.ProdMgmt.Part"
          }
        }
      },
      "delete" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "DeletePart",
        "description" : "DeletePart",
        "operationId" : "DeletePart",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      },
      "patch" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Update an existing Part",
        "description" : "Update an existing Part",
        "operationId" : "UpdatePart",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Update.PTC.ProdMgmt.Part"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/Alternates" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get PartAlternateLink",
        "description" : "Get PartAlternateLink",
        "operationId" : "Part.Alternates.GetPartAlternateLinks",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "PartAlternateLink",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.ProdMgmt.PartAlternateLink"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Create PartAlternateLink",
        "description" : "Create PartAlternateLink",
        "operationId" : "Part.Alternates.PostPartAlternateLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Create.PTC.ProdMgmt.PartAlternateLink"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/Alternates('{PartAlternateLinkId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get PartAlternateLink for a given PartAlternateLinkId",
        "description" : "Get PartAlternateLink for a given PartAlternateLinkId",
        "operationId" : "Part.Alternates.GetPartAlternateLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartAlternateLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdMgmt.PartAlternateLink"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Delete an existing PartAlternateLink",
        "description" : "Delete an existing PartAlternateLink",
        "operationId" : "Part.Alternates.DeletePTC.ProdMgmt.PartAlternateLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartAlternateLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      },
      "patch" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Update an existing PartAlternateLink",
        "description" : "Update an existing PartAlternateLink",
        "operationId" : "Part.Alternates.UpdatePartAlternateLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartAlternateLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Update.PTC.ProdMgmt.PartAlternateLink"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/Alternates('{PartAlternateLinkId}')/Alternate" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get ReplacementPart",
        "description" : "Get ReplacementPart",
        "operationId" : "PartAlternateLink.Alternate.GetReplacementPart",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartAlternateLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdMgmt.ReplacementPart"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Alternates('{PartAlternateLinkId}')/AlternateFor" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get ReplacementPart",
        "description" : "Get ReplacementPart",
        "operationId" : "PartAlternateLink.AlternateFor.GetReplacementPart",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartAlternateLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdMgmt.ReplacementPart"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Alternates('{PartAlternateLinkId}')/AlternatePart" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Part",
        "description" : "Get Part",
        "operationId" : "PartAlternateLink.AlternatePart.GetPart",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartAlternateLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdMgmt.Part"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get OptionSet",
        "description" : "Get OptionSet",
        "operationId" : "Part.AssignedOptionSet.GetOptionSet",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdPlatformMgmt.OptionSet"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Context" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Container",
        "description" : "Get Container",
        "operationId" : "OptionSet.Context.GetContainer",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.DataAdmin.Container"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Creator" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get User",
        "description" : "Get User",
        "operationId" : "OptionSet.Creator.GetUser",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.PrincipalMgmt.User"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Modifier" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get User",
        "description" : "Get User",
        "operationId" : "OptionSet.Modifier.GetUser",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.PrincipalMgmt.User"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Options" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Option",
        "description" : "Get Option",
        "operationId" : "OptionSet.Options.GetOptions",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "Option",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.ProdPlatformMgmt.Option"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Options('{OptionId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Option for a given OptionId",
        "description" : "Get Option for a given OptionId",
        "operationId" : "OptionSet.Options.GetOption",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OptionId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdPlatformMgmt.Option"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Revisions" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get OptionSet",
        "description" : "Get OptionSet",
        "operationId" : "OptionSet.Revisions.GetOptionSets",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "OptionSet",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.ProdPlatformMgmt.OptionSet"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Revisions('{OptionSetId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get OptionSet for a given OptionSetId",
        "description" : "Get OptionSet for a given OptionSetId",
        "operationId" : "OptionSet.Revisions.GetOptionSet",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OptionSetId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdPlatformMgmt.OptionSet"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Versions" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get OptionSet",
        "description" : "Get OptionSet",
        "operationId" : "OptionSet.Versions.GetOptionSets",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "OptionSet",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.ProdPlatformMgmt.OptionSet"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/AssignedOptionSet/Versions('{OptionSetId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get OptionSet for a given OptionSetId",
        "description" : "Get OptionSet for a given OptionSetId",
        "operationId" : "OptionSet.Versions.GetOptionSet",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "OptionSetId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdPlatformMgmt.OptionSet"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Attachments" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get ContentItem",
        "description" : "Get ContentItem",
        "operationId" : "Part.Attachments.GetContentItems",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "ContentItem",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.ContentItem"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Create ContentItem",
        "description" : "Create ContentItem",
        "operationId" : "Part.Attachments.PostContentItem",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Create.PTC.ContentItem"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/Attachments('{ContentItemId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get ContentItem for a given ContentItemId",
        "description" : "Get ContentItem for a given ContentItemId",
        "operationId" : "Part.Attachments.GetContentItem",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ContentItemId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ContentItem"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Delete an existing ContentItem",
        "description" : "Delete an existing ContentItem",
        "operationId" : "Part.Attachments.DeletePTC.ContentItem",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ContentItemId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      },
      "patch" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Update an existing ContentItem",
        "description" : "Update an existing ContentItem",
        "operationId" : "Part.Attachments.UpdateContentItem",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ContentItemId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Update.PTC.ContentItem"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/Attachments('{ContentItemId}')/Creator" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get UserRef",
        "description" : "Get UserRef",
        "operationId" : "ContentItem.Creator.GetUserRef",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ContentItemId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.UserRef"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Attachments('{ContentItemId}')/Modifier" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get UserRef",
        "description" : "Get UserRef",
        "operationId" : "ContentItem.Modifier.GetUserRef",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ContentItemId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.UserRef"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Context" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Container",
        "description" : "Get Container",
        "operationId" : "Part.Context.GetContainer",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.DataAdmin.Container"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Context/Creator" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get User",
        "description" : "Get User",
        "operationId" : "Container.Creator.GetUser",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.PrincipalMgmt.User"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Context/Folders" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Folder",
        "description" : "Get Folder",
        "operationId" : "Container.Folders.GetFolders",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "Folder",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.DataAdmin.Folder"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Create Folder",
        "description" : "Create Folder",
        "operationId" : "Container.Folders.PostFolder",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Create.PTC.DataAdmin.Folder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/Context/Folders('{FolderId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Folder for a given FolderId",
        "description" : "Get Folder for a given FolderId",
        "operationId" : "Container.Folders.GetFolder",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "FolderId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.DataAdmin.Folder"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Delete an existing Folder",
        "description" : "Delete an existing Folder",
        "operationId" : "Container.Folders.DeletePTC.DataAdmin.Folder",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "FolderId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      },
      "patch" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Update an existing Folder",
        "description" : "Update an existing Folder",
        "operationId" : "Container.Folders.UpdateFolder",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "FolderId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Update.PTC.DataAdmin.Folder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/Context/Organization" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Organization",
        "description" : "Get Organization",
        "operationId" : "Container.Organization.GetOrganization",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.PrincipalMgmt.Organization"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Creator" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get User",
        "description" : "Get User",
        "operationId" : "Part.Creator.GetUser",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.PrincipalMgmt.User"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Creator/Groups" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Group",
        "description" : "Get Group",
        "operationId" : "User.Groups.GetGroups",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "Group",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.PrincipalMgmt.Group"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Creator/Groups('{GroupId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Group for a given GroupId",
        "description" : "Get Group for a given GroupId",
        "operationId" : "User.Groups.GetGroup",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GroupId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.PrincipalMgmt.Group"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Creator/LicenseGroups" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get LicenseGroup",
        "description" : "Get LicenseGroup",
        "operationId" : "User.LicenseGroups.GetLicenseGroups",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "LicenseGroup",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.PrincipalMgmt.LicenseGroup"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Creator/LicenseGroups('{LicenseGroupId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get LicenseGroup for a given LicenseGroupId",
        "description" : "Get LicenseGroup for a given LicenseGroupId",
        "operationId" : "User.LicenseGroups.GetLicenseGroup",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "LicenseGroupId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.PrincipalMgmt.LicenseGroup"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/DescribedBy" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get PartDescribeLink",
        "description" : "Get PartDescribeLink",
        "operationId" : "Part.DescribedBy.GetPartDescribeLinks",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "PartDescribeLink",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.ProdMgmt.PartDescribeLink"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Create PartDescribeLink",
        "description" : "Create PartDescribeLink",
        "operationId" : "Part.DescribedBy.PostPartDescribeLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Create.PTC.ProdMgmt.PartDescribeLink"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/DescribedBy('{PartDescribeLinkId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get PartDescribeLink for a given PartDescribeLinkId",
        "description" : "Get PartDescribeLink for a given PartDescribeLinkId",
        "operationId" : "Part.DescribedBy.GetPartDescribeLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartDescribeLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdMgmt.PartDescribeLink"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Delete an existing PartDescribeLink",
        "description" : "Delete an existing PartDescribeLink",
        "operationId" : "Part.DescribedBy.DeletePTC.ProdMgmt.PartDescribeLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartDescribeLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      },
      "patch" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Update an existing PartDescribeLink",
        "description" : "Update an existing PartDescribeLink",
        "operationId" : "Part.DescribedBy.UpdatePartDescribeLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartDescribeLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CSRF_NONCE",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Update.PTC.ProdMgmt.PartDescribeLink"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/Parts('{PartId}')/DescribedBy('{PartDescribeLinkId}')/DescribedBy" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Document",
        "description" : "Get Document",
        "operationId" : "PartDescribeLink.DescribedBy.GetDocument",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartDescribeLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.DocMgmt.Document"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/DescribedBy('{PartDescribeLinkId}')/Describes" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Part",
        "description" : "Get Part",
        "operationId" : "PartDescribeLink.Describes.GetPart",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PartDescribeLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.ProdMgmt.Part"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/DownstreamEquivalanceLinks" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get EquivalenceLink",
        "description" : "Get EquivalenceLink",
        "operationId" : "Part.DownstreamEquivalanceLinks.GetEquivalenceLinks",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "EquivalenceLink",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.BomTransformation.EquivalenceLink"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/DownstreamEquivalanceLinks('{EquivalenceLinkId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get EquivalenceLink for a given EquivalenceLinkId",
        "description" : "Get EquivalenceLink for a given EquivalenceLinkId",
        "operationId" : "Part.DownstreamEquivalanceLinks.GetEquivalenceLink",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EquivalenceLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.BomTransformation.EquivalenceLink"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/DownstreamEquivalanceLinks('{EquivalenceLinkId}')/Downstream" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get WindchillEntity",
        "description" : "Get WindchillEntity",
        "operationId" : "EquivalenceLink.Downstream.GetWindchillEntitys",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EquivalenceLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "WindchillEntity",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.WindchillEntity"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/DownstreamEquivalanceLinks('{EquivalenceLinkId}')/Downstream('{WindchillEntityId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get WindchillEntity for a given WindchillEntityId",
        "description" : "Get WindchillEntity for a given WindchillEntityId",
        "operationId" : "EquivalenceLink.Downstream.GetWindchillEntity",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EquivalenceLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WindchillEntityId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.WindchillEntity"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/DownstreamEquivalanceLinks('{EquivalenceLinkId}')/Upstream" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get WindchillEntity",
        "description" : "Get WindchillEntity",
        "operationId" : "EquivalenceLink.Upstream.GetWindchillEntitys",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EquivalenceLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "WindchillEntity",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.WindchillEntity"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/DownstreamEquivalanceLinks('{EquivalenceLinkId}')/Upstream('{WindchillEntityId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get WindchillEntity for a given WindchillEntityId",
        "description" : "Get WindchillEntity for a given WindchillEntityId",
        "operationId" : "EquivalenceLink.Upstream.GetWindchillEntity",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EquivalenceLinkId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WindchillEntityId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.WindchillEntity"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Effectivities" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Effectivity",
        "description" : "Get Effectivity",
        "operationId" : "Part.Effectivities.GetEffectivitys",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "Effectivity",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.EffectivityMgmt.Effectivity"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Effectivities('{EffectivityId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Effectivity for a given EffectivityId",
        "description" : "Get Effectivity for a given EffectivityId",
        "operationId" : "Part.Effectivities.GetEffectivity",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EffectivityId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.EffectivityMgmt.Effectivity"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/Effectivities('{EffectivityId}')/EffectivityContext" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get PartEffectivityContext",
        "description" : "Get PartEffectivityContext",
        "operationId" : "Effectivity.EffectivityContext.GetPartEffectivityContext",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "EffectivityId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.EffectivityMgmt.PartEffectivityContext"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/ExtendedData" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get ExtendedData",
        "description" : "Get ExtendedData",
        "operationId" : "Part.ExtendedData.GetExtendedDatas",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "ExtendedData",
                  "type" : "object",
                  "properties" : {
                    "value" : {
                      "$ref" : "#/components/schemas/PTC.BomTransformation.ExtendedData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/ExtendedData('{ExtendedDataId}')" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get ExtendedData for a given ExtendedDataId",
        "description" : "Get ExtendedData for a given ExtendedDataId",
        "operationId" : "Part.ExtendedData.GetExtendedData",
        "parameters" : [ {
          "name" : "PartId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ExtendedDataId",
          "in" : "path",
          "description" : "The identification key for the item to get",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PTC.BomTransformation.ExtendedData"
                }
              }
            }
          }
        }
      }
    },
    "/Parts('{PartId}')/ExtendedData('{ExtendedDataId}')/Context" : {
      "get" : {
        "tags" : [ "Service Endpoints" ],
        "summary" : "Get Container",
        "description" : "Get Container",
        "operationId" : "ExtendedData.Context.GetContainer",
        "parameters" : [ {
          "name" : "PartId",
[...]
